.env
.direnv/
.local/
.airship-state/
.result
result
node_modules/
dist/
build/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.DS_Store
docs/book/
web/cypress/downloads/
web/cypress/screenshots/
web/cypress/videos/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
crash.log
